h1 {
   font-size: 36px;
   font-weight: bold;
   margin-bottom: 20px;
   text-align:justify;
}
.header-container{
    background-color: #f3ede1;
    color: #4b3832;
    padding: 20px;

}

h3 {
color: #4b3832;
}

.centrado {
    text-align: center;
}

.menu-color {
    background-color: #C18166;
}