h1 {
   font-size: 36px;
   font-weight: bold;
   margin-bottom: 20px;
   text-align:justify;
}
.logoedit{
   width: 300px;
   height: 250px;
}
h3 {
color: #4b3832;
}

.centrado {
    text-align: center;
}

.acercade{
    background-color: blue;
}

.txt{
    max-width: max-content;
}

.ordernow{
    background-color: #E09590;
    color: black;
    outline: none; 
}
.ordernow:hover{
    background-color: brown;
   
}


.horadelte{
    background-color: #F0B294;
    min-height: 600px;
}
.techai{
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    border-style: solid;
    margin-top: 150px;

}
.txtht{
    text-align: center;
    padding-left: 100px;
    padding-right: 150px;
    padding-top: 50px;
    margin-top: 100px;
}
.t{
    text-align: center;
    padding-left: 50px;
    padding-right: 100px;
    margin-top: 100px;
}
.colordelcuerpo{
    background-color:  #ffffff;
}
.colorcard{
    background-color: #8A5F4D;
}
.color{
 background-color: #8A5F4D;
}
.txtcol{
    background-color: #8A5F4D;
}
.edit{
    background-color: #8A5F4D;
}
.card-img-top{
    max-height: 200px;
    object-fit: cover;
}
.pricecard{
    background-color: #8A5F4D;
}

.empresa{
    border-radius: 4%;
    height: 250px;
    padding-left: 40px;
    margin-bottom: 150px;
    margin-top: 50px;
}
.imgempresa{
    border-radius: 20px;
}

.juiceserie{
    background-color: #f2d3bf;
}
.txtjuice{
    margin-top: 150px;
}
.vermas{
   text-decoration: none;
   color: black;
   background-color: #E09590;
}
.principal{
    background-image: url("../../../assets/principal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    min-width: 550px;
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}