/*contenedor principal*/
h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: justify;
}

h3 {
  color: #4b3832;
}
.chevron {
  background-color: #4b3832;
  border: none;
}
.chevron:hover {
  background-color: azure;
  color: black;
}

.principal {
  background-image: url("../../../assets/principal.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 20px;
  min-width: 550px;
  min-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*empresa*/

.empresa {
  border-radius: 4%;
  height: 250px;
  padding-left: 40px;
  margin-bottom: 150px;
  margin-top: 50px;
}
.imgempresa {
  border-radius: 20px;
  /* max-width: '100%';
    height: 'auto';  
    display: 'block'; 
    margin: '0 auto'; */
}

/*juice*/
.juiceserie {
  background-color: #f2d3bf;
  min-height: 100vh;
  background-size: cover;
  display: flex; /* Aplicamos flexbox para alinear elementos verticalmente */
  justify-content: center; /* Centramos horizontalmente */
  align-items: center; /* Centramos verticalmente */
  text-align: center; /* Alineamos el texto al centro */
}
.txtjuice {
  margin-top: 150px;
}

/* contenedor te */
.horadelte {
  background-color: #f0b294;
  min-height: 600px;
}
.techai {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  border-style: solid;
  margin-top: 150px;
}
.txtht {
  text-align: center;
  padding-left: 100px;
  padding-right: 150px;
  padding-top: 50px;
  margin-top: 100px;
}

.t {
  text-align: center;
  padding-left: 50px;
  padding-right: 100px;
  margin-top: 100px;
}

/* menu de home*/

.ordernow {
  background-color: #e09590;
  color: black;
  border: none;
}
.ordernow:hover {
  background-color: brown;
}

.colordelcuerpo {
  background-color: #ffffff;
}
.colorcard {
  background-color: #8a5f4d;
}

.color {
  background-color: #8a5f4d;
}
.txtcol {
  background-color: #8a5f4d;
}
.edit {
  background-color: #8a5f4d;
}
.card-img-top {
  max-height: 200px;
  object-fit: cover;
}
.pricecard {
  background-color: #8a5f4d;
}
.txt {
  max-width: max-content;
}

.d-flex.align-items-center {
  min-height: 100%; /* Evita que el segundo Col se encima en pantallas pequeñas */
  text-align: center; /* Alinea el contenido verticalmente en el centro */
}

.vermas {
  text-decoration: none;
  color: black;
  background-color: #e09590;
  border: none;
}
.vermas:hover {
  background-color: #4b3832;
  color: white;
}
.custonlink {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #e09590;
}

@media (max-width: 280px) {
  /* Estilos específicos para el Galaxy Fold */
}
