hr{
    background-color: #4b3832;
    height: 9px;
}
.line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .uno {
    width: 40%;
    margin: 20px 0;
  }
  
  .dos {
    width: 40%;
    margin: 20px 0;
  }
  
  .boxmax{
    background-color: #ddc6be;
    
  }









